<!DOCTYPE html>
<!-- Template Name: Clip-Two - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>DASHBOARD</title>

    <% include cores/header.ejs %>

    <div class="main-content" >
            <div class="wrap-content container" id="container">
                <!-- start: DASHBOARD TITLE -->
                <section id="page-title" class="padding-top-15 padding-bottom-15">
                    <div class="row">
                        <div class="col-sm-7">
                            <h1 class="mainTitle">Dashboard</h1>
                            <span class="mainDescription">overview &amp; stats </span>
                        </div>
                        <!--<div class="col-sm-5">-->
                            <!--&lt;!&ndash; start: MINI STATS WITH SPARKLINE &ndash;&gt;-->
                            <!--<ul class="mini-stats pull-right">-->
                                <!--<li>-->
                                    <!--<div class="sparkline-1">-->
                                        <!--<span ></span>-->
                                    <!--</div>-->
                                    <!--<div class="values">-->
                                        <!--<strong class="text-dark">18304</strong>-->
                                        <!--<p class="text-small no-margin">-->
                                            <!--Sales-->
                                        <!--</p>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<div class="sparkline-2">-->
                                        <!--<span ></span>-->
                                    <!--</div>-->
                                    <!--<div class="values">-->
                                        <!--<strong class="text-dark">&#36;3,833</strong>-->
                                        <!--<p class="text-small no-margin">-->
                                            <!--Earnings-->
                                        <!--</p>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<div class="sparkline-3">-->
                                        <!--<span ></span>-->
                                    <!--</div>-->
                                    <!--<div class="values">-->
                                        <!--<strong class="text-dark">&#36;848</strong>-->
                                        <!--<p class="text-small no-margin">-->
                                            <!--Referrals-->
                                        <!--</p>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--&lt;!&ndash; end: MINI STATS WITH SPARKLINE &ndash;&gt;-->
                        <!--</div>-->
                    </div>
                </section>
                <!-- end: DASHBOARD TITLE -->

            </div>
        </div>

    <% include cores/footer.ejs %>