<!DOCTYPE html>
<!-- Template Name: Clip-Two - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>GAIN TABLE 10 MIN</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

    <style>
        .cls_td {
            width: 4%; text-align: center;
        }
        .cls_td_negative {
            width: 4%; text-align: center; font-weight: bold !important;
        }
    </style>

    <% include cores/header.ejs %>

    <div class="main-content" >
        <div class="wrap-content container" id="container">
            <!-- start: DASHBOARD TITLE -->
            <section id="page-title" class="padding-top-15 padding-bottom-15" style="">
                <div class="row">
                    <div class="col-sm-7">
                        <h1 class="mainTitle">GAIN TABLE 10-MIN</h1>
                        <span class="mainDescription">overview &amp; stats </span>
                    </div>
                </div>
            </section>
            <!-- end: DASHBOARD TITLE -->

            <!-- start: CONDENSED TABLE -->
            <div class="container-fluid container-fullw bg-white" id="div-gain-table">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="over-title margin-bottom-15" style="color: #d9534f;"><span class="text-bold">GAIN TABLE 10-MIN</span></h5>
                        <table class="table table-condensed table-hover" id="tbl-gain-table">
                            <thead>
                            <tr style="background-color: #fbdcdc;">
                                <th style="width: 5%; text-align: center;">Sr #</th>
                                <th style="width: 5%;">Currency</th>
                                <th style="width: 10%; text-align: center;">Gain 200min</th>
                                <th class="cls_td">10</th>
                                <th class="cls_td">20</th>
                                <th class="cls_td">30</th>
                                <th class="cls_td">40</th>
                                <th class="cls_td">50</th>
                                <th class="cls_td">60</th>
                                <th class="cls_td">70</th>
                                <th class="cls_td">80</th>
                                <th class="cls_td">90</th>
                                <th class="cls_td">100</th>
                                <th class="cls_td">110</th>
                                <th class="cls_td">120</th>
                                <th class="cls_td">130</th>
                                <th class="cls_td">140</th>
                                <th class="cls_td">150</th>
                                <th class="cls_td">160</th>
                                <th class="cls_td">170</th>
                                <th class="cls_td">180</th>
                                <th class="cls_td">190</th>
                                <th class="cls_td">200</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end: CONDENSED TABLE -->


        </div>
    </div>

     <% include cores/footer.ejs %>

    <script src="/js/gain_table_v3.js"></script>
