<!DOCTYPE html>
<!-- Template Name: Clip-Two - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>Market Order</title>

    <% include cores/header.ejs %>

    <div class="main-content" >
        <div class="wrap-content container" id="container" style="width: 100% !important;">
            <!-- start: DASHBOARD TITLE -->
            <section id="page-title" class="padding-top-15 padding-bottom-15" style="">
                <div class="row">
                    <div class="col-sm-7">
                        <h1 class="mainTitle" style="background-image: none !important;">Market Order</h1>
                        <span class="mainDescription">&nbsp;</span>
                    </div>
                </div>
            </section>
            <!-- end: DASHBOARD TITLE -->


            <!-- start: REGISTRATION -->
            <div class="row">
                <div class="main-login col-xs-12">
                    <!-- start: REGISTER BOX -->
                    <div class="box-register">

                        <div class="alert alert-success" role="alert" style="display: none;">
                            Market Order Placed Successfully.
                        </div>

                        <div class="alert alert-danger alert-error" role="alert" style="display: none;">
                            Something went wrong, Market order not placed.
                        </div>

                        <form class="form-register" method="POST" id="signup-form" action="/signupuser" enctype="multipart/form-data">
                            <fieldset>
                                <legend>
                                    Market Order
                                </legend>
                                <p>
                                    MARKET ORDER INPUT
                                </p>
                                <div class="form-group">
                                    <select name="market" id="market" class="form-control show-tick ms select2">
                                        <option value="USDT" selected>USDT</option>
                                        <option value="BUSD">BUSD</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="currency" id="currency" placeholder="Type desired currency" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="quantity" id="quantity" placeholder="Type quantity in Market value" required>
                                </div>
                                <div class="form-actions">
                                    <button type="button" class="btn btn-primary pull-right" id="btn-submit">
                                        Send Order <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!-- end: REGISTER BOX -->


                    <!-- start: DYNAMIC TABLE -->
                    <div class="container-fluid container-fullw bg-white">

                        <div class="row">
                            <div class="col-md-12">
                                <h4>Trades History</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                                    <thead>
                                    <tr>
                                        <th>Sr #</th>
                                        <th>Order ID</th>
                                        <th>Ordered At</th>
                                        <th>Market</th>
                                        <th>Currency</th>
                                        <th>Purchase Unit Price</th>
                                        <th>Unit Purchased</th>
                                        <th>Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end: DYNAMIC TABLE -->


                </div>
            </div>
            <!-- end: REGISTRATION -->


        </div>
    </div>

     <% include cores/footer.ejs %>

    <script>

        // ==========  LOAD Grid Data ===========
        $(document).ready(function() {
            var mybal = [];

            $.ajax({
                url: "http://3.236.53.56:1337/get_market_order_data",
                method: "POST",
                data: {},
                success: function (response) {
                    var html = "";
                    $('#sample_1 > tbody').html('');

                    result = JSON.parse(response);
                    if (result.hasOwnProperty('success')) {
                        //console.log(result);

                        Object.entries(result.orders).forEach((entry) => {
                            const [key, value] = entry;

                            value.market = 'USDT';
                            var currency = value.bo_symbol;
                            currency = currency.replace('USDT', '');
                            value.currency = currency;
                            value.amount = parseFloat(parseFloat(value.bo_price) * parseFloat(value.bo_origQty)).toFixed(6);
                            value.bo_price = parseFloat(value.bo_price).toFixed(6);
                            value.bo_origQty = parseFloat(value.bo_origQty).toFixed(6);
                            mybal.push(value);
                        });

                        //console.log(' --------ADNAN 123---------- ');
                        /*Object.entries(result.balances).forEach((entry) => {
                            const [key, value] = entry;
                            if (value.available > 0 || value.onOrder > 0) {
                                value.asset = key;
                                value.total = parseFloat(parseFloat(value.available) + parseFloat(value.onOrder));

                                mybal.push(value);
                                //console.log(`${key}: ${value.available}`);
                            }
                        });
                        */
                    }
                    // console.log(mybal);

                    $('#sample_1').DataTable().destroy();
                    $('#sample_1').DataTable({
                        data: mybal,
                        columns: [
                            {
                                render: function (data, type, row, meta) {
                                    return meta.row + meta.settings._iDisplayStart + 1;
                                }
                            },
                            { data: 'bo_orderId' },
                            { data: 'date_time' },
                            { data: 'market' },
                            { data: 'currency' },
                            { data: 'bo_price' },
                            { data: 'bo_origQty' },
                            { data: 'amount' }

                        ],
                        columnDefs: [{
                            orderable: true,
                            targets: [0, 1, 2]
                        }]
                    });


                }
            });
        });
        // ==========  LOAD Grid Data ===========

        $('body').on('click', '#btn-submit', function() {
            $('#btn-submit').prop('disabled', true);
            var market      = $("#market").val();
            var currency    = $("#currency").val();
            var quantity    = $("#quantity").val();

            $.ajax({
                url: "http://3.236.53.56:1337/send_market_order",
                method: "POST",
                data: {market: market, currency: currency, quantity: quantity},
                success: function (response) {
                    //console.log(response);
                    result = JSON.parse(response);
                    if (result.hasOwnProperty('success')) {
                        $(".alert-success").fadeTo(2000, 1000).slideUp(1000, function() {
                            $(".alert-success").slideUp(1000);
                            window.location.href = "http://3.236.53.56:1337/market_order";
                        });
                    } else if (result.hasOwnProperty('error')) {
                        //console.log(result);
                        $(".alert-error").html(result.message);
                        $(".alert-error").fadeTo(2000, 1000).slideUp(1000, function() {
                            $(".alert-error").slideUp(1000);
                        });
                        $('#btn-submit').prop('disabled', false);
                    }
                }
            });
        });

    </script>